<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaConnect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/JavaConnect</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
  </context-param>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.javaConnect.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RegisterFilter</display-name>
    <filter-name>RegisterFilter</filter-name>
    <filter-class>com.javaConnect.filter.RegisterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegisterFilter</filter-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>BlogPostFilter</display-name>
    <filter-name>BlogPostFilter</filter-name>
    <filter-class>com.javaConnect.filter.BlogPostFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BlogPostFilter</filter-name>
    <url-pattern>/blogpost</url-pattern>
  </filter-mapping>
   <servlet>
    <description></description>
    <display-name>Blogpost</display-name>
    <servlet-name>Blogpost</servlet-name>
    <servlet-class>com.javaConnect.main.controller.Blogpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blogpost</servlet-name>
    <url-pattern>/blogpost</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>SessionExpire</display-name>
    <servlet-name>SessionExpire</servlet-name>
    <servlet-class>com.javaConnect.auth.controller.SessionExpire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionExpire</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <description></description>
    <display-name>ProfilePage</display-name>
    <servlet-name>ProfilePage</servlet-name>
    <servlet-class>com.javaConnect.main.controller.ProfilePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePage</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ViewPost</display-name>
    <servlet-name>ViewPost</servlet-name>
    <servlet-class>com.javaConnect.main.controller.ViewPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPost</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.javaConnect.listener.ContextListener</listener-class>
  </listener>
  
</web-app>